{{- range $key, $game := index hugo.Data "bgg-cache" "games" }}
  {{- $override := index hugo.Data "definitions" "games-bgg-override" $key }}
  {{- if $override }}
    {{- $game = merge $game $override }}
  {{- end }}
  {{- $.AddPage (dict
    "path"   (anchorize $game.name)
    "title"  $game.name
    "params" (dict "game" $game "categories" $game.categories "mechanics" $game.mechanics)
  ) }}
{{- end }}
