{{- range $key, $game := hugo.Data.games }}
  {{- $override := index (index hugo.Data "games-overrides") $key }}
  {{- if $override }}
    {{- $game = merge $game $override }}
  {{- end }}
  {{- $.AddPage (dict
    "path"   (anchorize $game.name)
    "title"  $game.name
    "params" (dict "game" $game)
  ) }}
{{- end }}
