{{- range $slug, $config := hugo.Data.definitions.members }}
  {{- $member := index hugo.Data "bgg-cache" "collections" $slug }}
  {{- $.AddPage (dict
    "path"   $slug
    "title"  $config.display_name
    "params" (dict "config" $config "member" $member)
  ) }}
{{- end }}
