{{- range $slug, $config := (index hugo.Data "members-config") }}
  {{- $member := index hugo.Data.members $slug }}
  {{- $.AddPage (dict
    "path"   $slug
    "title"  $config.display_name
    "params" (dict "config" $config "member" $member)
  ) }}
{{- end }}
